<html layout:decorate="~{global/usrLayout}">

<head>
  <title>상품 리스트</title>
</head>

<body>

<div layout:fragment="content">
  <form>
    <div style="display:flex; gap:10px;">
      <label><input type="checkbox" name="kwType" value="name" th:checked="${kwTypesMap['name']}"><span>상품명</span></label>
    </div>

    <input type="search" name="kw" placeholder="검색어" th:value="${param.kw}">
    <input type="submit" value="검색">
  </form>

  <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <li class="card bg-base-100 shadow-xl" th:each="product : ${itemPage.content}">
      <div class="card-body">
        <h2 class="card-title">
          <span th:text="${product.id}"></span>
          <span>:</span>
          <span th:text="${product.name}"></span>
        </h2>

        <div>
          <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></span>
          <span>원</span>
        </div>

        <div class="card-actions justify-end">
          <a
                  method="POST"
                  th:if="${@productService.canBookmark(@rq.member, product)}"
                  th:href="|/product/${product.id}/bookmark?redirectUrl=${@rq.encodedCurrentUrl}|"
                  class="btn btn-sm btn-outline group"
          >
            <i class="fa-solid fa-heart text-[#afafaf] group-hover:text-[#ff0000]"></i>
          </a>
          <a
                  method="DELETE"
                  th:if="${@productService.canCancelBookmark(@rq.member, product)}"
                  th:href="|/product/${product.id}/cancelBookmark?redirectUrl=${@rq.encodedCurrentUrl}|"
                  class="btn btn-sm btn-outline group"
          >
            <i class="fa-solid fa-heart text-[#ff0000] group-hover:text-[#afafaf]"></i>
          </a>
          <a class="btn btn-sm btn-outline" href="">바로결제</a>
          <a class="btn btn-sm btn-outline" href="">장바구니에 담기</a>
        </div>
      </div>
    </li>
  </ul>

  <div class="flex justify-center mt-3">
    <th:block th:with="queryStrBase = ${@rq.getCurrentQueryStringWithoutParam('page')}">
      <th:block th:replace="global/fragments/pagination :: pagination(${itemPage}, ${queryStrBase}, 3)">

      </th:block>
    </th:block>
  </div>
</div>

</body>

</html>