<html layout:decorate="~{global/usrLayout}">

<head>
    <title>내 주문</title>
</head>

<body>

<div layout:fragment="content">
    <form>
        <select class="select select-bordered" name="cancelStatus" onchange="$(this).closest('form').submit()" th:value="${param.cancelStatus}">
            <option value="">취소상태</option>
            <option value="true">취소</option>
            <option value="false">취소가능</option>
        </select>
        <select class="select select-bordered" name="payStatus" onchange="$(this).closest('form').submit()" th:value="${param.payStatus}">
            <option value="">결제상태</option>
            <option value="true">결제완료</option>
            <option value="false">결제대기</option>
        </select>
        <select class="select select-bordered" name="refundStatus" onchange="$(this).closest('form').submit()" th:value="${param.refundStatus}">
            <option value="">환불상태</option>
            <option value="true">환불완료</option>
            <option value="false">환불가능</option>
        </select>
    </form>
    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <li class="card bg-base-100 shadow-xl" th:each="order : ${orderPage.content}">
            <div class="card-body">
                <h2 class="card-title">
                    <span th:text="${order.id}"></span>
                    <span>:</span>
                    <span th:text="${order.name}"></span>
                </h2>
                <div>
                    <div>
                    <span>코드:</span>
                    <span th:text="${order.code}"></span>
                    </div>
                <div>
                    <span>결제금액:</span>
                    <span th:text="${order.calcPayPrice}"></span>
                </div>

                <div>결제상태: [[${order.forPrintPayStatus}]]</div>
                <div>취소상태: [[${order.forPrintCancelStatus}]]</div>
                <div>환불상태: [[${order.forPrintRefundStatus}]]</div>
            </div>
            <div class="card-actions justify-end">
                <a th:href="|${order.id}|" class="btn btn-sm btn-primary">자세히 보기</a>
            </div>
            </div>
        </li>
    </ul>
</div>

</body>

</html>